# Auto detect text files and perform LF normalization
* text=auto

# Keep development junk out of our ZIP files
.claude/settings.json export-ignore
images/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.prettierignore export-ignore
.prettierrc export-ignore
CLAUDE.md export-ignore
eslint.config.mjs export-ignore
package-lock.json export-ignore
package.json export-ignore